# Lecture 04 -- Starting a data project
* Learning the business case
* Define a MVP
* Data collection
* Data sanity checks, cleansing
* Explorative analysis
* Preparing the data for a simple model

In [1]:
# application of lessons from lecture_02 on employee attrition risk model

## Example project -- Employee attrition model
* "I want to know why are my employees leaving and what can I do to mitigate that?
* What kind of data we would be exploring?
* Where does this data coming from?
* What type of problem is this? Classification? Regression?
* How can we structure easily attainable validation proof-of-concept?

In [2]:
# https://community.ibm.com/community/user/datascience/blogs/archive-user/2016/10/31/unlock-the-secrets-to-employee-retention-with-predictive-analytics

In [3]:
# The costs of hiring/losing an employee

# The cost of hiring a new employee, including the advertising, interviewing, screening, and hiring.
# On-boarding a new worker, including training and management time.
# Lost productivity, because it may take a new employee 1-2 years to reach the productivity of an existing one.
# Lost engagement as other employees who see high turnover tend to disengage and lose productivity.
# Training costs, which can add up to as 10-20 percent of an employee's salary or more in training for the first several years.
# Cultural impact, as whenever someone leaves other employees will ask "Why?"

In [4]:
# Understanding the source of the data

# ERP (enterprise resource planning)
# What/who manages the data
# Governed manually or by some process?
# Mix of multiple systems, legacy solutions?
# Shit in, shit out.

In [5]:
# Binary classification problem

# Employee terminated = boolean label
# Estimation of various factors
# Prediction of attrition with some confidence

In [6]:
# Simple proof-of-concept

# Linear model to estimate potential factors
# Which factors are actionable or make sense in the business context?

## Let's start exploring the data in Jupyter

## Jupyter Notebooks

![sci_paper.png](pics/sci_paper.png)

* https://www.theatlantic.com/science/archive/2018/04/the-scientific-paper-is-obsolete/556676/
* Interactive, original idea based on Mathematica's Notebooks
* Probably best environment for playing around
* Very weak for version control and some serious collaboration
* For anything more than a prototype or lecture purpose, switch to proper coding environment!

![jupyterlab.png](pics/jupyterlab.png)

## Hands-on Demo
Play with [demo-notebook.ipynb](demo-notebook.ipynb)
* Are you able to open the notebook?
* Are you able to run/edit some cell and see the response?

### Alternatives
* Google Colab (https://colab.research.google.com/)
* Deepnote (https://deepnote.com/dashboard)

## Exploring the data

### Let's import core libraries and the data first

In [ ]:
import pandas as pd
# pandas is THE python library when dealing with tabular data
import os
# standard set of OS-tools

In [ ]:
# import <module> -- whole module
# from <module> import <objects> -- separate objects, can be referenced without module name
# import <module> as <alias> -- aliasing for simplicity

In [ ]:
os.listdir()
# basicaly "ls" bash command of python

In [ ]:
# let's check the content of the "data" folder
os.listdir("data/")
# This is computer-specific!

In [ ]:
# that's what we want to import
#dataFile = "data/WA_Fn-UseC_-HR-Employee-Attrition.csv"
# insert your path to the data
dataFile = "data/"+os.listdir("data")[0]
empData = pd.read_csv(dataFile)

In [12]:
type(empData)

pandas.core.frame.DataFrame

In [13]:
# let's check if we imported the file correctly, displaying first 100 rows
empData.head(100)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,54,No,Travel_Rarely,1217,Research & Development,2,4,Technical Degree,1,126,...,1,80,1,16,5,1,4,3,0,3
96,24,No,Travel_Rarely,1353,Sales,3,2,Other,1,128,...,1,80,1,4,2,2,3,2,0,2
97,28,No,Non-Travel,120,Sales,4,3,Medical,1,129,...,2,80,0,5,3,4,5,4,0,4
98,58,No,Travel_Rarely,682,Sales,10,4,Medical,1,131,...,3,80,0,38,1,2,37,10,1,8
99,44,No,Non-Travel,489,Research & Development,23,3,Medical,1,132,...,3,80,1,17,3,4,3,2,1,2

In [14]:
empData.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

### Getting data from other places aka detour to APIs

Frequent routes to getting data are:
* DBs -- usually, you'll be on the receiving end of analytical DBs. Basic SQL is pretty good skill to have.
* Cloud storage -- AWS S3 and others. Again, ultra basic skill with cloud services goes a long way in your data science or ML career.
* APIs -- REST or GraphQL. A standard how services/apps communicate.

Examples to elaborate:
* https://www.postman.com/api-evangelist/workspace/strava/request/35240-0bdb8a2d-f758-4d0f-9fb2-befe9b7d81c5?ctx=code
* https://developers.strava.com/docs/getting-started/#curl
* https://www.strava.com/settings/api

In [ ]:
import requests

url = "httpswww.strava.com/api/v3/athlete/

payload={}
headers = {
  'Authorization': 'Bearer 3a9ad2f90646eda08cefe5c2daf2a7b87a5468dd'
}

response = requests.request("GET", url, headers=headers, data=payload)

print(response.text)

https://www.kaggle.com/docs/api#getting-started-installation-&-authentication

## Checkpoint #1
* [ ] I imported the pandas and os libraries
* [ ] I downloaded the data into a folder to which I can navigate from Jupyter
* [ ] I imported the data as a pandas dataframe

### Intro to Pandas

In [ ]:
# let's dig deeper into the basics of working with pandas dataframe (df ~ table, np.array ~ matrix)

In [ ]:
# slicing the data by columns
# dataFrame[column_name] or dataFrame[list_of_columns]
empData['Attrition'].head(10)

In [ ]:
# slicing the data, labels-based
# dataFrame.loc[row_names, columns_names]

In [ ]:
# let's select first 10 rows and first column
empData.loc[1:10, 'Age']

In [ ]:
# now first 2 columns
empData.loc[1:10, 'Age', 'Attrition']

In [ ]:
# We'll have to put them into a list of fields
empData.loc[1:10, ['Age', 'Attrition']]

In [ ]:
# different kind of slicing, through integer-based position
empData.iloc[1:10,1]

In [ ]:
# strange, huh? What about this?
empData.iloc[1:10,1:2]

In [ ]:
# last slice
empData.iloc[1:10,1:3]

In [ ]:
# indexing starts from 0 of course!
# not-inclusive, so [1:3] kind-of means [2,3,4)

In [ ]:
# slicing by maps (condition-based slicing)
# let's create a map for all terminated employees
terms = (empData['Attrition'] == 'Yes')

In [ ]:
terms.head()

In [ ]:
empData.loc[terms,:]

In [ ]:
# we can slice it by this
(empData.loc[terms,:]).head()

In [ ]:
# chaining conditions, let's say terminated employees in Sales
termsSales = ((terms) & (empData['Department'] == 'Sales'))

In [ ]:
empData.loc[termsSales,:].head(10)

In [ ]:
# adding columns to a dataFrame
empData['myNewColumn'] = 'You look nice today!'

In [ ]:
empData.head()

In [ ]:
# 1D data with axis!
type(empData['Department'] == 'Sales')

In [ ]:
(empData['Department'] == 'Sales').values

In [ ]:
# based on some condition
empData['worksForSales'] = (empData['Department'] == 'Sales').values

In [ ]:
empData.head()

### Checkpoint #2
* [ ] I can select three arbitrary columns from the data
* [ ] I can add a new field which will label frequent travelers with medical background
* [ ] I can return the data into the original shape

In [ ]:
empData['frequentMedicals'] = ((empData['BusinessTravel'] == 'Travel_Frequently') & 
                              (empData['EducationField'] == 'Medical')).values
empData = empData.iloc[:,0:35]

In [ ]:
empData.head()

### Data Profiling (get some sense of the data)

In [ ]:
# shape of the data
empData.shape

In [ ]:
# datatypes
empData.dtypes

In [ ]:
# get header
empData.columns

In [ ]:
# basic description
empData.describe()

In [ ]:
# Groupings
# let's create a sensible subselect first
empData.columns

In [ ]:
# what about monthly income by age?
empData.loc[:,['Age', 'MonthlyIncome', 'JobSatisfaction']].groupby(['Age']).mean()

In [ ]:
# Working with NaNs, nulls or missing values
empData['Age'].isna()

In [ ]:
# is there any?
empData['Age'].isna().any()

In [ ]:
# what about detecting nulls in any column?
empData.isnull()

In [ ]:
# what about detecting nulls in any column?
empData.isnull().values

In [ ]:
empData.isnull().values.any()

In [ ]:
# replace NaNs
empData.fillna(0)

### Basic plotting

In [ ]:
from matplotlib import pyplot
import matplotlib.pyplot as plt

In [ ]:
# directly from df/series
empData['Age'].hist()

In [ ]:
empData.hist(figsize=(20,20))
plt.show()

In [ ]:
# basic linechart
empData.loc[:,['Age', 'MonthlyIncome']].groupby(['Age']).mean().plot()

In [ ]:
# Bring more interactivity with Plotly
# "Cufflinks binds Plotly directly to pandas dataframes."
import cufflinks as cf
cf.go_offline()

In [ ]:
empData.loc[:,['MonthlyIncome']].iplot(kind='histogram', bins = 200)

In [ ]:
empData.loc[:,['Age', 'MonthlyIncome']].groupby(['Age']).mean().iplot(kind='line')

In [ ]:
# Correlation matrix
import seaborn as sn
corrMatrix = empData.corr()
plt.figure(figsize=(25, 20))
sn.heatmap(corrMatrix, annot=False)
plt.show()

### Profiling magic

In [ ]:
# pandas-profiling library https://github.com/pandas-profiling/pandas-profiling
import pandas_profiling

In [ ]:
profile = pandas_profiling.ProfileReport(empData, title="Employee Data Profiling")

In [ ]:
profile.to_file("jak_to_dopadlo.html")

In [ ]:
# https://pandas-profiling.github.io/pandas-profiling/docs/master/rtd/pages/great_expectations_integration.html

### Let's try some exploration of potential factors

In [ ]:
from scipy.stats import norm, skew
from scipy import stats
import plotly.figure_factory as ff

In [ ]:
# Let's try to estimate average and standard deviation by normal distribution
(mu, sigma) = norm.fit(empData.loc[empData['Attrition'] == 'Yes', 'Age'])
print(
    'Ex-exmployees: average age = {:.1f} years old and standard deviation = {:.1f}'.format(mu, sigma))
(mu, sigma) = norm.fit(empData.loc[empData['Attrition'] == 'No', 'Age'])
print(
    'Current exmployees: average age = {:.1f} years old and standard deviation = {:.1f}'.format(mu, sigma))

In [ ]:
# again, let's do the same 
x1 = empData.loc[empData['Attrition'] == 'No', 'Age']
x2 = empData.loc[empData['Attrition'] == 'Yes', 'Age']
# Group data together
hist_data = [x1, x2]
group_labels = ['Active Employees', 'Ex-Employees']
# Create distplot with custom bin_size
fig = ff.create_distplot(hist_data, group_labels,
                         curve_type='kde', show_hist=False, show_rug=False)
# Add title
fig['layout'].update(title='Age Distribution in Percent by Attrition Status')
fig['layout'].update(xaxis=dict(range=[15, 60], dtick=5))
# Plot
fig.show()

In [ ]:
# seems like an interesting variable to explore, let's try to visualise that
empData.groupby(['OverTime','Attrition']).size()

In [ ]:
empDataOverTime = pd.DataFrame(columns=["OverTime", "% of Leavers"])
i=0
for field in list(empData['OverTime'].unique()):
    ratio = empData[(empData['OverTime']==field)&(empData['Attrition']=="Yes")].shape[0] / empData[empData['OverTime']==field].shape[0]
    empDataOverTime.loc[i] = (field, ratio*100)
    i += 1

In [ ]:
empDataOverTime

In [ ]:
empDataOverTime.groupby('OverTime').sum().iplot(kind='bar', title = 'Leavers by OverTime (%)')

### Homework
* [ ] What other factor(s) could be potentially significant?
* [ ] Import scikit-learn package
* [ ] Prepare the data for a simple linear model of one continuous response with and without quadratic term
* [ ] Compare the models